body
{
	margin: 0;
	padding: 0;
}
.submit-form-btn
{
	pointer-events: none;
	border: 1px solid #ddd;
	background: #f1f1f1;
	border-radius: 6px;
	height: 40px;
	width: 220px;
	cursor: default;
}
.submit-form-btn.active
{
	cursor: pointer;
	background: transparent;
	pointer-events: all;
}
.overlay
{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
}
.overlay.active
{
	display: block;
}
.modal-auth
{
	display: none;
	background: #fff;
	width: 600px;
	min-height: 400px;
	padding: 20px;
	margin-top: 10%;
	margin-left: -300px;
	position: absolute;
	top: 0;
	left: 50%;
}
.modal-auth.active
{
	display: block;
}